@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap');


body {
  /*font-family: Helvetica, sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

a {
  font-size: 1.5em;
  
}

.wapp-div {
  margin-top: 3rem;
}

.footer {
  box-shadow: inset 0 7px 9px -1px rgba(0,0,0,0.4);
}

h4 {
  color: whitesmoke;
  text-shadow: 1px 1px 3px #000000;
  font-size: 2rem;
}

h3 {
  padding-top: 1rem;
  font-size: 2rem;
  
}
.wapp-div p {
  margin-top: 0.5rem;
}

.wapp {
  height: 2rem;
  width: auto;
}

.first-navline {
  align-content: center;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.9);
}


.second-navline {
  
  background-color: rgba(2, 117, 216, 0.9) ;
  box-shadow: 3px 2px 5px, inset 0 7px 9px -3px rgba(0,0,0,0.4);
}

.navbar-light .navbar-nav .nav-link {
  
  color: rgb(217, 218, 223);
  text-shadow: -0.5px -0.5px 1px #000000;
}

.logo {
  height: 6rem;
  width: auto;
  margin-left: 1rem;
}

header {
  padding-top: 10rem;
}



.img-container {
    background-image: url('../img/Rodeo-Bridge.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  padding-top: 35%; 
  position: relative;
}


.image-text{
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.5);
    margin: 5% 0% 25% 5%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    text-shadow: 1px 1px 3px #000000;
    box-shadow: 0px 2px 5px;
    
    
}

.contactanos {
  box-shadow: inset 0 4px 6px -2px rgba(0,0,0,0.4);
}

form {
  width: 700px;
  margin: auto;
  background-color: #8bf;
  margin-top: 100px;
  margin-bottom: 100px;
}

input {
  margin: 15px;
  padding: 10px;
  width: 640px; 
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="submit"]{
  margin-bottom: 15px;
  margin-top: 5px;
}

textarea {
  margin: 15px;
  padding: 10px;
  min-width: 640px;
  max-width: 640px; 
  font-size: 18px;
  height: 200px;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 5px;
}

.industria p {
  font-size: 20px;
  font-weight: 500;
}





@media screen and (min-width: 801px) {
  .title-one {
    font-size: 50px;
  }

  .title-two {
    font-size: 30px;
  }

  .image-text {
    margin-bottom: 5%;
  }

  .staIntro {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}



@media screen and (max-width: 800px) {
  .title-one {
    font-size: 40px;
  }

  .title-two {
    font-size: 20px;
  }

    .image-text {
      margin-bottom: 10%;
    }

    .img-container {
      margin-top: 5%;
    }  
  }


@media screen and (max-width: 700px) {
  .title-one {
    font-size: 35px;
  }

  .title-two {
    font-size: 20px;
  }

    .image-text {
      margin-bottom: 10%;
    }
   
  }


@media screen and (max-width: 650px) {
  .title-one {
    font-size: 30px;
  }

  .title-two {
    font-size: 15px;
  }
    .image-text {
      margin-bottom: 10%;
    }

  .img-container {
    margin-top: 12%;
  }  

    
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .title-one {
      font-size: 25px;
    }
  
    .title-two {
      font-size: 10px;
    }
    .image-text {
      margin-bottom: 10%;
    }

    .img-container {
      margin-top: 15%;
    }
    
  }

  @media screen and (max-width: 470px) {
    .title-one {
      font-size: 20px;
    }
  
    .title-two {
      font-size: 10px;
    }
    .image-text {
      margin-bottom: 5%;
    }

    .img-container {
      margin-top: 15%;
    }
    
  }

   @media screen and (max-width: 300px) {

    .img-container {
      margin-top: 30%;
    }
     
   }

  h1{
    margin-top: 40%;
  }

  .title-one {
    color: whitesmoke;
  }

  .title-two {
    color: whitesmoke;
  }

.second_div {
  height: 14rem;
  box-shadow: 3px 2px 5px, inset 0 7px 9px -2px rgba(0,0,0,0.4);
}

.second_div h4 {
  padding-top: 1rem;
  color: whitesmoke;
}

.second_div p {
  padding-top: 1rem;
  color: whitesmoke;
}

.industria {
  padding-top: 1.5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.industria-img {
  height: 4rem;
  width: 4rem;
}

.interSpace1 {
  height: 2rem;
  box-shadow: 0px 2px 5px, inset 0 7px 9px -1px rgba(0,0,0,0.4);
}



.staIntro p {
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.dealers {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dealers h3 {
  padding-bottom: 3rem;
}

.contact {
  padding-top: 2rem;
}



